name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
              lfs: true

      - name: Create zip
        run: zip -r fast-repository-search-github-${{ github.ref_name }}.zip . -x ".git/*" -x ".github/*"

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: fast-repository-search-github-${{ github.ref_name }}.zip